.service-container{
    /* background-color: lightpink; */
    background: url('../../../images/bg-wall.jpg');
   background-repeat: no-repeat;
   background-position: right;
   background-size: cover;
    padding: 5% 10%;
}