
.brand-color{
    color: #F35444;
}

.bg-brand{
    background-color: #151823;
}

.text-brand{
    color: #7E8399;
}

.text-width{
    max-width: 600px;
}

.btn-brand{
    background-color: #151823;
    border: none;
    color: white;
    padding: 8px 40px;
    border-radius: 3px;
}